$blue:#3751DC;
$black:#151419;
$dark-grey:#595959;
$white:#ffffff;
$yellow:rgb(242, 255, 0);
/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito+Sans:wght@400;600&display=swap');
$ibm:'IBM Plex Sans', sans-serif;
$nunito: 'Nunito Sans', sans-serif;